@import "tailwindcss";

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #d0021b;
}

.nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 26px;
}
