---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import WishlistItem from "../components/WishlistItem.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <div class="container mx-auto px-10 sm:px-10 py-5">
    <!-- Page Title -->
    <h1 class="text-3xl sm:text-5xl font-light mb-5 sm:mb-10">My Wishlist</h1>

    <!-- Wishlist Items Section -->
    <div class="space-y-6">
      <WishlistItem />
      <WishlistItem />
      <WishlistItem />
    </div>
  </div>
  <Footer />
</Layout>