<footer class="bg-[#F5F4F4] w-screen h-[397px]">
    <div class="flex justify-between w-[1296px] h-[277px] justify-self-center">
        <div class="w-[204px] h-[152px] p-[20px] gap-20">
            <h6 class="text-[#262626] text-[14px]">ACCOUNT</h6>

            <ul class="mt-4 text-[#737373] text-[14px] leading-[1.5rem]">
                <a href="#"><li>Log In</li></a>
                <a href="#"><li>Sign Up</li></a>
                <a href="#"><li>Redeem a gift Card</li></a>
            </ul>
        </div>
        <div class="w-[204px] h-[277px] p-[20px] gap-20">
            <h6 class="text-[#262626] text-[14px]">COMPANY</h6>

            <ul class="mt-4 text-[#737373] text-[14px] leading-[1.5rem]">
                <a href="#"><li>About</li></a>
                <a href="#"><li>Environmental initiatives</li></a>
                <a href="#"><li>Factories</li></a>
                <a href="#"><li>DEI</li></a>
                <a href="#"><li>Careers</li></a>
                <a href="#"><li>International</li></a>
                <a href="#"><li>Accessibility</li></a>
            </ul>
        </div>
        <div class="w-[204px] h-[179px] p-[20px] gap-20">
            <h6 class="text-[#262626] text-[14px]">GET HELP</h6>

            <ul class=" mt-4 text-[#737373] text-[14px] leading-[1.5rem]">
                <a href="#"><li>Help Center</li></a>
                <a href="#"><li>Return Policy</li></a>
                <a href="#"><li>Shipping Info</li></a>
                <a href="#"><li>Bulk Orders</li></a>
            </ul>
        </div>
        <div class="w-[204px] h-[209px] p-[20px] gap-20">
            <h6 class="text-[#262626] text-[14px]">CONNECT</h6>

            <ul class="mt-4 text-[#737373] text-[14px] leading-[1.5rem]">
                <a href="#"><li>Facebook</li></a>
                <a href="#"><li>Instagram</li></a>
                <a href="#"><li>Twitter</li></a>
                <a href="#"><li>Affiliates</li></a>
                <a href="#"><li>Our Stores</li></a>
            </ul>
        </div>
        <div class="flex justify-end relative">
            <input class="w-[480px] h-[53px] p-[20px] mt-6 text-[#737373] border border-[#DDDBDC]" placeholder="Email address">
            <button class="flex justify-center items-center h-[52px] w-[52px] bg-black absolute top-6"><i class="ri-arrow-right-line text-white text-[24px]"></i></button>
        </div>
    </div>

    <div class="w-[1296px] h-[80px] justify-self-center">
        <ul class="flex justify-around text-[12px] text-[#737373]">
            <a href="#"><li>Privacy Policy</li></a>
            <a href="#"><li>Terms of Service</li></a>
            <a href="#"><li>Do Not Sell or Share My Personal Information</li></a>
            <a href="#"><li>CS Supply Chain Transparency</li></a>
            <a href="#"><li>Vendor Code of Conduct</li></a>
            <a href="#"><li>Sitemap Pages</li></a>
            <a href="#"><li>Sitemap Products</li></a>
        </ul>

        <p class="items-center flex justify-center mt-6 text-[12px] text-black">© 2023 All Rights Reserved</p>

    </div>
</footer>
