<footer class="bg-gray-300 lg:mb-28">
    <div class="container bg-transparent mx-auto justify-self-center">
        <div class="pt-20">
            <p class="text-xs text-black mb-2">SIGN UP FOR NEWSLETTER</p>
            <input class="bg-gray-200 p-2 lg:w-7xl text-black" placeholder="EMAIL" />
        </div>

        <div class="grid lg:grid-cols-3 mt-20 justify-between gap-4">
            <div class="flex justify-start">
                <ul class="text-xs leading-6">
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">CONTACT/ LOCATE US</a></li>
                    <li><a href="#">VNV MAGAZINE</a></li>
                </ul>
            </div>
            <div class="flex justify-center">
                <ul class="text-xs leading-6">
                    <li><a href="#">SHIPPING INFORMATION</a></li>
                    <li><a href="#">RETURN AND EXCHANGE</a></li>
                    <li><a href="#">LEGAL</a></li>
                    <li><a href="#">CAREERS</a></li>
                </ul>
            </div>
            <div class="flex"> 
                <p class="text-xs font-bold items-end justify-end">FOLLOW US ON:</p>
                <div class="text-2xl flex justify-end gap-2">
                
                        <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                    
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-whatsapp-line"></i></a>
                    <a href="#"><i class="ri-youtube-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>