 <section class="grid grid-cols-2 gap-4">
    <div class="mt-2 gap-2 overflow-y-auto">
        <img
            src="https://images.vegnonveg.com/resized/1360X1600/12627/adidas-originals-sl-72-rs-collegiate-greencore-white-67bea26148cec.jpg"
            alt="shoe"
        />
        <img
            src="https://images.vegnonveg.com/resized/1360X1600/12627/adidas-originals-sl-72-rs-collegiate-greencore-white-67bea26148cec.jpg"
            alt="shoe"
        />
        <img
            src="https://images.vegnonveg.com/resized/1360X1600/12627/adidas-originals-sl-72-rs-collegiate-greencore-white-67bea26148cec.jpg"
            alt="shoe"
        />
        <img
            src="https://images.vegnonveg.com/resized/1360X1600/12627/adidas-originals-sl-72-rs-collegiate-greencore-white-67bea26148cec.jpg"
            alt="shoe"
        />
    </div>
    <div class="info-container pd-h-3-xs sticky letter-spacing-1 pd-t-20 pd-t-0-xs h-fit top-0">
        <div class="w-xl">
            <div class="mt-4">
                <p class="text-gray-500 text-sm mt-2">MEN</p>
                <h3 class="text-xl text-black font-bold mt-2">
                    ADIDAS ORIGINALS SL 72 RS
                </h3>
                <h4 class="text-xl text-gray-600 mt-2">
                    COLLEGIATE GREEN/CORE WHITE
                </h4>
                <h6 class="text-base text-gray-600 mt-2">₹ 9,999</h6>
                <p class="text-gray-700 text-xs mt-2">MRP Inclusive Of All Taxes</p>
            </div>
            <div class="flex justify-between mt-4">
                <p class="text-xs text-black">UK SIZE</p>
                <a href="#"
                    ><p class="text-xs underline text-black">SIZE GUIDE</p></a
                >
            </div>
            <div class="mt-4 flex justify-start gap-1 ">
                <button class="w-8 h-8 bg-gray-300 text-black text-xs hover:bg-black hover:text-white">6</button
                >
                <button class="w-8 h-8 bg-gray-300 text-black text-xs hover:bg-black hover:text-white">7</button
                >
                <button class="w-8 h-8 bg-gray-300 text-black text-xs hover:bg-black hover:text-white">8</button
                >
                <button class="w-8 h-8 bg-gray-300 text-black text-xs hover:bg-black hover:text-white">9</button
                >
                <button class="w-8 h-8 bg-gray-300 text-black text-xs hover:bg-black hover:text-white"
                    >10</button
                >
            </div>

            <div class="mt-6">
                <div>
                    <p class="text-black text-sm">
                        The adidas SL 72 was first designed for track athletes
                        looking to shave seconds off their time. Today, its
                        lightweight build and sleek profile make it ideal for
                        city exploration. The retro nylon upper has soft suede
                        accents. Underneath, an EVA midsole cushions every step
                        and a ripple outsole keeps you grounded.
                    </p>
                </div>
                <div class="mt-4">
                    <ul class="list-disc text-sm pl-5">
                        <li>Regular fit</li>
                        <li>Regular fit</li>
                        <li>Regular fit</li>
                        <li>Regular fit</li>
                        <li>Regular fit</li>
                        <li>Regular fit</li>
                        <li>Regular fit</li>
                        <li>Regular fit</li>
                    </ul>

                    <div class="mt-8">
                        
                            <p id="togglebar"
                                class="text-sm text-black underline font-semibold cursor-pointer"
                            >
                                PRODUCT DETAILS
                            </p>

                            <div id="details" class="text-xs mt-2 text-gray-700 hidden">
                                <p>Manufacturer : Adidas Originals
                                </p>
                                <p>Manufacturer : Adidas Originals
                                </p>
                                <p>Manufacturer : Adidas Originals
                                </p>
                                <p>Manufacturer : Adidas Originals
                                </p>
                                <p>Manufacturer : Adidas Originals
                                </p>
                                <p>Manufacturer : Adidas Originals
                                </p>
                            </div>

                            <script is:inline>
                                 document.addEventListener("DOMEvents",name)
                                document.addEventListener("DOMEvents"), function (){
                                    console.log("click");
                                 const toggleButton=document.getElementById("togglebar");
                                 const detailsDiv = document.getElementById("details");

        toggleButton.addEventListener("click", () => {
            detailsDiv.toggle("hidden");
        });
    }
                                
                            </script>
                        
                    </div>

                    <div class="mt-6">
                        <div>
                            <button
                                class="w-full bg-black text-center text-white h-10 p-2"
                                >ADD TO BAG</button
                            >
                        </div>
                        <div class="w-full grid grid-cols-2 gap-2 mt-2 h-10">
                            <button class="bg-gray-200 text-black"
                                >ADD TO WISHLIST</button
                            >
                            <button class="bg-gray-200 text-black"
                                >FIND IN STORE</button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 


