<div class="relative mx-auto">
  <div class="relative group cursor-pointer ">
      <img
        src="https://images.vegnonveg.com/resized/680X800/12627/adidas-originals-sl-72-rs-collegiate-greencore-white-67bea26148cec.jpg"
        alt="Adidas Originals SL 72 RS"
        class="w-full"
      />
      <img
        src="https://images.vegnonveg.com/resized/680X800/12627/adidas-originals-sl-72-rs-collegiate-greencore-white-67bea2616fc5b.jpg"
        alt="Adidas Originals SL 72 RS Hover"
        class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      />
      
      <div class="absolute bottom-0 w-full   text-black  text-center items-baseline py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-gradient-to-t from-white to-transparent">
        <h3 class="text-lg ">Adidas Originals</h3>
        <p class="text-sm font-bold">SL 72 RS</p>
        <p class="text-sm">Rs. 7999</p>
      </div>
    </div>
  </div>