<!-- <section class="w-2xs relative gap-2">
    <img class="w-screen hover:bg-red-500" src="https://images.vegnonveg.com/resized/1360X1600/12049/printed-long-sleeve-shirt-brown-brown-66fe61aa1d8c7.jpg">

    
</section> -->

<!-- <div class="relative w-64 h-80 group cursor-pointer">
     Product Image -->
    <!-- <img src="https://images.vegnonveg.com/resized/1360X1600/12049/printed-long-sleeve-shirt-brown-brown-66fe61aa1d8c7.jpg" alt="Product" class="w-full h-full object-cover rounded-lg"> -->

    <!-- Overlay with product details -->
    <!-- <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-white opacity-0 group-hover:opacity-30 transition-opacity duration-300 rounded-lg">
        <h2 class="text-lg font-semibold">Product Name</h2>
        <p class="text-sm">$49.99</p>
    </div>
</div>  -->

<script>
const products=[

]

</script>