 <div class="container justify-self-center w-4xl bg-gray-100 h-screen">
    <div class="">
        <div class="w-full text-xs">
            <input
                type="email"
                class="w-full p-2 h-10 border-amber-50 bg-gray-200 text-black"
                placeholder="EMAIL"
                required
            />
            <input
                type="password"
                class="w-full p-2 h-10 border-amber-50 bg-gray-200 mt-4 text-black"
                placeholder="PASSWORD"
                required
            />
        </div>
    

        <div class="grid lg:grid-cols-2 gap-2 mt-4">
            <button
                class="bg-gray-300 h-10 p-2 text-black text-xs cursor-pointer"
                >FORGET PASSWORD</button
            >
            <button class="bg-black h-10 p-2 text-white text-xs cursor-pointer"
                >SUBMIT</button
            >
        </div>

        <div class="w-full mt-8">
            <p class="flex justify-center items-center">OR</p>
        </div>

        <button
            class="bg-gray-300 w-full mt-8 h-10 p-2 text-black text-xs cursor-pointer"
            >LOG IN WITH GOOGLE</button
        >
    </div>
</div>


